*{box-sizing: border-box;}

body{display:flex;
     flex-direction:column;   
     margin: 0;
     min-height: 100vh;}

.header{background-color: #c9ada7;
        padding: 40px;
        height:150px}
.header a{font-size: 2.5em;
          text-decoration: none;
          color: #22223b;}

  .header a:hover{text-decoration: underline;}          

  .navbar ul{ list-style-type: none;
               display:flex;
               justify-content:flex-end;}
   
  .navbar ul li { background-color: #9a8c98;
                 display:inline-block;
                 padding: 5px;
                } 

   .navbar ul li a{display:block;
                   text-decoration: none;
                   text-align: center;
                   font-size: 1em;}         

     .navbar li:hover{background-color:antiquewhite;
                      }               
                  
      .main{background-color: #f2e9e4;
            display:flex;
            flex:1;
            padding:10px;
            min-height:60vh;
          }

          .main>.col{margin: 10px;}

       .main>.col:nth-child(1){
        flex:3;
       }   
       
       .main>.col:nth-child(2){
        flex:1;
        background-color: #9a8c98;
        padding: 5px;
       }     

       .lower{border:1px solid #4a4e69;
        border-radius:10px;
        background-color: #9a8c98; }

       .footer {display:flex;
                height : 250px;
                align-items: center;
                justify-content: space-evenly;
                padding:0 15px}

      .footer > div {background-color: #22223b;
                    border:1px solid black;
                    color:white;
                    padding:5px;
                    border-radius: 10px;
                    margin:0 10px;
                    min-height: 200px; }

        .footer > div a{color:burlywood;
                        text-decoration: none;}
        .footer > div a:hover{text-decoration: underline;}

       .footer div:nth-child(1),footer div:nth-child(2),footer div:nth-child(3){ flex:1;}             
       footer div:nth-child(4){flex:3}

       hr{width:500px}

         .end{text-align: center;}   
         .end a{color:burlywood;} 

        
       
       
