*{box-sizing: border-box;}

body{display: flex;
    flex-direction: column;
    margin:0;
    min-height: 100vh;}

  .header{background-color: #c9ada7;
         color:black;
         padding-top: 10px; }   

   .logo{font-size: 2.5em;
         padding-left: 40px;}

    ul{background-color: #9a8c98;
       list-style-type: none;} 
       
    .logo , .navbar a{
       text-decoration: none;
       color: black;
       text-transform: uppercase;
       display: block;
       padding:10px 15px;
       text-align: center;}

    a:hover{text-decoration: underline;}


    .main{display:flex;
          min-height: 60vh;
          background-color: #eee2df;
          padding: 10px;}

     .main> *{padding:10px;} 

     .main> article{flex:1}   

     .main> aside{flex:0 0 20vw;
              background-color: #9a8c98;}   

   
   .footer{background-color: #9a8c98;}

   .footer>section{display:flex; 
                    flex-wrap: wrap;
                    padding:1rem 2rem;}

    section>div{background-color:#0f1d3d;
                color:white;
                 border: 1px solid white;
                 border-radius: 15px;
                 margin:0 5px;
                 padding: 1rem;
                 min-width:12rem;
                }     

  section>div:nth-child(4){flex:1}

 .footer>section:nth-child(1) a, .footer>section:nth-child(3) a 
    {color: #ffc971;}



  .social {justify-content: center;}

   .social ul{ border-top:1px solid white;
               padding:0;
               display:flex;} 

    .social ul li{padding:5px;
                  margin:0.5em;
                  font-size:2em;
                  min-width: 50px;
                  background-color: aliceblue;
                  border-radius:10px;
                  text-align: center; }

     .social ul li a{color: #4a4e69; }    

     .social ul li a:hover {color:#0f1d3d ;}



    .footer> section:nth-child(3){
      background-color: black;}

    .copy{margin:auto;
              color:white;} 

    .copy>span{margin:7px}



   @media (min-width:700px) {
    .header,.navbar {display:flex}
     .header{flex-direction: column;
             align-items: center;}
     .navbar{padding: 0;}        
   }

   

   @media (min-width:950px) {
     .header{flex-direction: row;
      justify-content: space-between;}
     .navbar{padding: 0;}   
    
   }
   
