*{box-sizing: border-box;}

.header{background-color: #c9ada7;
        padding: 40px;
        font-size: 2.5em;
        height:150px}
.header a{text-decoration: none;
          color: #22223b;
          }

  .navbar ul{ background-color: #9a8c98;
           list-style-type: none;
            margin-left:auto;
            padding: 3px 15px;
            margin-right: 5px;
            position: absolute;
            top:30px;
            right:10px;
            display:flex;}
   
  .navbar ul li {display:inline-block;
                 padding: 2px;
                } 

   .navbar ul li a{display:block;
                   text-decoration: none;
                   text-align: center;
                   font-size: 1em;}         

     .navbar li:hover{background-color:antiquewhite;
                      padding:2px}               
                  
      .main{background-color: #f2e9e4;
            display:flex;
            justify-content: space-between;
            min-height:450px;
            margin-bottom: 0;}
        
       .main>.col{margin:10px}     
       .main>.col:nth-child(1){
        flex:3;
       }   
       
       .main>.col:nth-child(2){
        flex:1;
        background-color: #9a8c98;
        padding-left:5px
       }     

       .footer {display:flex;
                height: 250px;;
                align-items: center;
                justify-content: space-evenly;
                padding:0 15px}

      .footer > div {background-color: #22223b;
                    border:1px solid black;
                    color:white;
                    padding:5px;
                    border-radius: 10px;
                    margin:0 10px;
                    min-height: 200px; }

        .footer > div a{color:burlywood;
                        text-decoration: none;}
      
       .footer div:nth-child(1),footer div:nth-child(2),footer div:nth-child(3){ flex:1;}             
       footer div:nth-child(4){flex:3}

       hr{width:500px}

       .lower{border:1px solid #4a4e69;
             border-radius:10px;
             background-color: #9a8c98; }

         .end{text-align: center;}   
         .end a{color:burlywood;} 

         @media(max-width:800px){
                .navbar ul{position:relative;
                           top:130px;
                           left: 2px;
                           width:fit-content;
                           margin:auto
                          }
                  .header{text-align: center;}     
                  .footer
                  {display: flex;
                   flex-flow: row wrap;
                   overflow: hidden;
                   height: fit-content;
                   }   
                   .footer div{margin:5px;}
         }
         
         @media(max-width:600px){
                .navbar ul{position:relative;
                           top:195px;
                           flex-direction: column;
                           width: 100%;
                          }
                  .navbar ul li a{border:1px solid #c9ada7;}       
                  .header{text-align: center;
                          height: 200px;
                           line-height: 10px;}     
                  .footer
                  {display: flex;
                   flex-flow: row wrap;
                   height: fit-content;
                   }   
                   .footer div{margin:5px;}
         }
       
       
